.header {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: right;
    align-items: center;
}

.block {
    display: flex;
    justify-content: center;
    padding: 25px;
}

li {
    
}